<h1><b>Assignment - 1</b></h1>
<p>Name - Gaurav Navada<br>
Reg.no. - 20BKT0128<br>
Gmail - gaurav.navada2020@vitstudent.ac.in<br></p>

<h2>TASK-1: Create a pandas dataframe (DataFrame named as 'df') with numpy random values (4 observations and 4 features) </h2>

In [8]:
#Imports
import numpy as np
import pandas as pd

In [2]:
#We first generate a random numpy 4X4 array. - 4 observations and 4 features
numpy_random = np.random.randint(low=0, high=50, size=(4,4))
numpy_random

array([[30, 24,  2, 17],
       [20,  7, 45, 36],
       [35,  4, 33, 26],
       [46, 40, 11, 27]])

In [3]:
#Next, convert this to a pandas dataframe (fn - Feature n)
df = pd.DataFrame(numpy_random, columns=["f1","f2","f3","f4"])
df

   f1  f2  f3  f4
0  30  24   2  17
1  20   7  45  36
2  35   4  33  26
3  46  40  11  27

<h2>TASK-2: Rename the task - 1 'df' dataframe column names to "Random value 1", "Random value 2", "Random value 3" and "Random value 4"</h2>

In [9]:
#Renaming the columns (fn -> Column-n)
df.rename(columns = {'f1':'Random value 1','f2':'Random value 2','f3':'Random value 3','f4':'Random value 4'}, inplace = True)

In [10]:
#Printing the data-frame
df

   Random value 1  Random value 2  Random value 3  Random value 4
0              30              24               2              17
1              20               7              45              36
2              35               4              33              26
3              46              40              11              27

In [11]:
#To view of new column names
df.columns

Index(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], dtype='object')

<h2>TASK-3: Find the descriptive statistics of 'df' dataframe</h2>

In [12]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        32.750000       18.750000       22.750000       26.500000
std         10.812801       16.680827       19.737865        7.767453
min         20.000000        4.000000        2.000000       17.000000
25%         27.500000        6.250000        8.750000       23.750000
50%         32.500000       15.500000       22.000000       26.500000
75%         37.750000       28.000000       36.000000       29.250000
max         46.000000       40.000000       45.000000       36.000000

<h2>TASK-4: Check for the null values in 'df' and find the datatype of the columns.</h2>

In [13]:
#Check for null/ NaN values in dataframe
df.isnull()
#All are false s=> Therefore there is no NaN values

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [14]:
#Finding datatypes of columns
df.dtypes

Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

<h2>TASK-5: Display the 'Random value 2' and 'Random value 3' columns with location method and index locaton method. </h2>

In [15]:
#Using location method
df.loc[:,["Random value 2","Random value 3"]]

   Random value 2  Random value 3
0              24               2
1               7              45
2               4              33
3              40              11

In [16]:
#Using index location method
df.iloc[:,[1,2]]

   Random value 2  Random value 3
0              24               2
1               7              45
2               4              33
3              40              11