**TASK - 1**
Create a pandas dataframe (DataFrame named as 'df') with numpy random values(4 observations and 4 features)

In [1]:
#imports
import numpy as np
import pandas as pd

In [2]:
#first, we generate a random numpy 4X4 array.
numpy_random = np.random.randint(low=0, high=20, size=(4,4))
numpy_random

array([[ 9, 16, 16, 16],
       [ 5, 14,  9,  1],
       [18,  5,  3, 11],
       [18, 15, 13, 16]])

In [3]:
#Now we convert this to a pandas dataframe
df = pd.DataFrame(numpy_random, columns=["feature 1","feature 2","feature 3","feature 4"])
df

   feature 1  feature 2  feature 3  feature 4
0          9         16         16         16
1          5         14          9          1
2         18          5          3         11
3         18         15         13         16

**TASK - 2**
Rename the task - 1 'df' dataframe column names.

In [4]:
df.rename(columns = {'feature 1':'Random value 1','feature 2':'Random value 2','feature 3':'Random value 3','feature 4':'Random value 4'}, inplace = True)

In [5]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0               9              16              16              16
1               5              14               9               1
2              18               5               3              11
3              18              15              13              16

In [6]:
#view of new column names
df.columns

Index(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], dtype='object')

**TASK - 3**
Find the descriptive statistics of 'df' dataframe

In [7]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        12.500000       12.500000       10.250000       11.000000
std          6.557439        5.066228        5.619905        7.071068
min          5.000000        5.000000        3.000000        1.000000
25%          8.000000       11.750000        7.500000        8.500000
50%         13.500000       14.500000       11.000000       13.500000
75%         18.000000       15.250000       13.750000       16.000000
max         18.000000       16.000000       16.000000       16.000000

**TASK - 4**
Check for the null values in 'df' and find the datatype of the columns

In [8]:
#check for null/ NaN values in dataframe
df.isnull()
#all are false since thee is no NaN values

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [9]:
#finding datatypes of columns
df.dtypes

Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

**TASK - 5** 
Display the 'Random value 2' and 'Random value 3' columns with location method and index locaton method.

In [17]:
#using location method
df.loc[:,["Random value 2","Random value 3"]]

   Random value 2  Random value 3
0              16              16
1              14               9
2               5               3
3              15              13

In [16]:
#using index location method
df.iloc[:,[1,2]]

   Random value 2  Random value 3
0              16              16
1              14               9
2               5               3
3              15              13